@{
    ViewBag.Title = "Confirm Email";
}

<main>
    <div class="wrapper">

        <section class="section-first section-spacing">
            <h2>@ViewBag.Title.</h2>
            <div>
                <p>
                    Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </section>

    </div>
</main>
