
@{
    ViewBag.Title = "Disable";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-first section-spacing about">
    <hgroup>
        <h1 class="text-danger">Locked out.</h1>
        <h2 class="text-danger">This account has been Disabled, please try again later.</h2>
    </hgroup>
</section>
