@{
    ViewBag.Title = "Login Failure";
}

<main>
    <div class="wrapper">

        <section class="section-first section-spacing">
            <hgroup>
                <h2>@ViewBag.Title.</h2>
                <h3 class="text-danger">Unsuccessful login with service.</h3>
            </hgroup>
        </section>

    </div>
</main>
