@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<main>
    <div class="wrapper">

        <section class="section-first section-spacing contact">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </section>

    </div>
</main>
	
