
@{
    ViewBag.Title = "Info";
}

<main>
    <div class="wrapper">

        <section class="section-first section-spacing">
            <h2>Please Confirm your email address!</h2>
        </section>

    </div>
</main>
