@{
    ViewBag.Title = "About";
}
<main>
    <div class="wrapper">
        <section class="section-first section-spacing about">
            <h2>About</h2>
            <hr>
            <div class="sub-section-spacing">
                <p>I like balloons.</p>
            </div>
        </section>
    </div>
</main>
