@{
    ViewBag.Title = "Contact";
}

<main>
    <div class="wrapper">
        <section class="section-first section-spacing contact">
            @*<h2>Contact</h2>
                <hr>*@
            <div class="w3-container w3-padding-32" id="contact">
                <h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h2>
                <p>If you have any question regarding our products. Please contact us</p>
                <form target="_blank">
                    <input class="w3-input w3-border" Style = "width:70%;max-width:400px;" type="text" placeholder="Name" required name="Name"><br />
                    <input class="w3-input w3-section w3-border" Style = "width:70%;max-width:400px;" type="text" placeholder="Email" required name="Email"><br />
                    <input class="w3-input w3-section w3-border" Style = "width:70%;max-width:400px;" type="text" placeholder="Subject" required name="Subject"><br />
                    <textarea class="w3-input w3-section w3-border" Style = "width:70%;max-width:400px;" type="text" placeholder="Comment" required name="Comment"></textarea><br />
                    <button class="w3-button w3-black w3-section" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </form>
            </div>
        </section>
    </div>
</main>