
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="wrapper">
        <section class="section-first section-spacing faq">
            <h2>FAQ</h2>
            <hr>
            <div class="sub-section-spacing">
                <b>Q:What is the question?<br>A:Sizing</b>
                <p>Q:<br>A:</p>
            </div>
            
        </section>
    </div>
</main>

