
@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Section -->
<div class="w3-container w3-padding-32" style="width:100%;">
    <h1 style="text-align:center;font-family:oswald;">Your Order Summary</h1>
    <table style="text-align: center;width:100%; border: 2px solid black;">
        <tr>
            <th style="width:10%;">Item Name/Quantity</th>
            <th style="width:10%;">Price</th>
        </tr>
        <tr>
            <td>2x Soft Baby Blanket</td>
            <td>69.99</td>

        </tr>
        <tr>
            <td>1x Soft Sleeping Socks</td>
            <td>39.99</td>
        </tr>
        <tr style="border:2px solid black;">
            <td><b>Item Total:</b></td>
            <td>210.99</td>
        </tr>
    </table>
    <img src="~/images/paypal.png" style="display: block;margin-left: auto;margin-right: auto;" />

</div>
