
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <title>Administration</title>
    <link rel="stylesheet" href="~/Styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
    <style>
        table {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #7CB342;
            color: white;
        }
    </style>
</head>

    <!-- Contents -->
    <div class="main-contents">
        <!-- Panel -->
        <div class="main">
            <font size="4">
                <h2 id="admin-header-text">MANAGE ORDER</h2>
                <hr>
                <!-- Table Content Order ID and Account Information-->
                <div>
                    <table style="margin-bottom:10px">
                        <tr>
                            <th>Order ID #1</th>
                            <th>Account Information</th>
                        </tr>
                        <tr>
                            <td><p style="margin: 0px;">Order Date: Sep. 19, 2018 8:15 PM </p></td>
                            <td><p style="margin: 0px;">Customer Name: Carlos Underwood</p></td>
                        </tr>
                        <tr>
                            <td>
                                Order Status:
                                <select>
                                    <option value="">Pending</option>
                                    <option value="">Processing</option>
                                    <option value="">Done</option>
                                </select>
                            </td>
                            <td><p style="margin:0px;">Email: Carlos@corp.com</p></td>
                        </tr>
                    </table>
                </div>
                <!-- Table 2 Content Shipping Address and Invoice-->
                <div>
                    <table style="margin-bottom:10px">
                        <tr>
                            <th>Shipping Address</th>
                            <th>Invoice</th>
                        </tr>
                        <tr>
                            <td><p style="margin: 0px;">7899 McLaughlin Rd Brampton On L6Y 5H9 </p></td>
                            <td><p style="margin: 0px;">Pending</p></td>
                        </tr>
                    </table>
                </div>
                <!-- Table 3 Content Items -->
                <div>
                    <table>
                        <tr>
                            <th>Items</th>
                            <th>Size</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th>Tax</th>
                            <th>Raw Total</th>
                        </tr>
                        <tr>
                            <td><p style="margin: 0px;">Sleeping Baby Bag </p></td>
                            <td>small</td>
                            <td>$65.00</td>
                            <td>1</td>
                            <td>$0.00</td>
                            <td>$65.00</td>
                        </tr>
                    </table>
                </div>
                <button type="button" onclick="alert('Order Successfully Updated')">Update</button>
            </font>
        </div>
        <!-- End of Panel -->
    </div>

    <!-- End of Contents -->

   