
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- Contents -->
<div class="main-contents">
    <!-- Panel -->
    <div class="main">
        <iframe src="http://localhost:60567/DotNetReport/Index" style="height:750px;width:100%;resize:both;overflow:auto;" frameborder="0"></iframe>
    </div>
<!-- End of Panel -->
    </div>
<!-- End of Contents -->
